@charset "utf-8";
*{ box-sizing:border-box}
html{-webkit-font-smoothing:antialiased; font-size:100px}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse; border-spacing:0}
fieldset,img{border:0; }
address,caption,cite,code,dfn,em,strong,th,var,i,b{font-style:normal;font-weight:normal}
ul,ol,dl{list-style-type:none}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal}
a, a:link { text-decoration:none; cursor:pointer; color:#333;}
a:hover{text-decoration:none;-webkit-tap-highlight-color:rgba(255,0,0,0);outline:none;outline:0;blr:expression(this.onFocus=this.blur())}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
textarea { resize:none} 
img{ vertical-align:middle; max-width:100%;}
input[type="submit"],input[type="text"],input[type="button"],button,select {-webkit-appearance: none; -webkit-tap-highlight-color:rgba(255,0,0,0);outline:none;outline:0;blr:expression(this.onFocus=this.blur()); border:none; border-radius:0;}
input[type="submit"],input[type="button"]{ cursor:pointer;} 
/*初始浏览器样式*/

body{ font-family:Arial,"微软雅黑";color:#000; line-height:1.3; font-size:.24rem; width:100%; max-width:840px; margin:0 auto; opacity:0;}
.fl,.left{float:left}
.fr,.right{float:right}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden; line-height:0; font-size:0}
.clearfix{*zoom:1}

.iconfont{font-size: 100%;}
.header {
    height: 1rem;
}
.hz-fl {
    float: left;
}
.headerCon {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    padding: .25rem;
    height: 1rem;
    background: #f8485e;
}
.logo {
    display: inline-block;
    height: .5rem;
}
.headerCon>a {
    float: right;
    display: inline-block;
    color: #fff;
    font-size: .24rem;
    vertical-align: top;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 3px 6px;
    margin: 0 4px;
}
.headerCon .bars {
    border: none;
    font-size: .28rem;
    line-height: .5rem;
    padding:0;
}
.headerCon .user {
    padding:0;
    width: .45rem;
    height: .45rem;
    border-radius: 50px;
}
.headerCon .user img{
    display: block;
    width: 100%;
    border-radius: 50px;
}


.slideMask{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: -100%;
    z-index: 110;
    background: rgba(0,0,0,.5);
    transition: all .5s;
    -moz-transition: all .5s;  /* Firefox 4 */
    -webkit-transition: all .5s;   /* Safari 和 Chrome */
    -o-transition: all .5s;
}
.slActive{
    top: 0;
}
.slideNav{
    height: 80%;
    background: #fff;
}
.sliHea{
    padding: .25rem .2rem 0;
    font-size: .3rem;
    text-align: center;
}
.sliHea i{
    float: right;
    color: #808080;
}
.navs2{
    padding-top: 0;
}
.tabTitPa{
    border-top: .15rem solid #f2f2f2;
}
.erma{
    display: none;
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 120;
    background: rgba(0,0,0,.5);
}
.ermaDiv{
    position: absolute;
    left: 0;
    top: 0;
    bottom:0;
    right: 0;
    width: 4rem;
    height: 4.5rem;
    margin: auto;
    background: #fff;
    text-align: center;
    padding: .3rem;
    border-radius: 10px;
    color: #f8485e;
    font-size: .26rem;
}
.ermaDiv img{
    width: 3rem;
}
.cuo{
    position: absolute;
    right: .1rem;
    top: .1rem;
    color: #fff;
    width: .4rem;height: .4rem;line-height: .4rem;text-align: center;
    border-radius: 50px;
    background: rgba(0,0,0,.5);
}


.slideMask .navs{
    font-size: 0;
    padding: .3rem .3rem 0;
    background: #fff;
    /*border-bottom: 0.15rem solid #f2f2f2;*/
}
.slideMask .navs li{
    display: inline-block;
    width: 25%;
    margin-bottom: .3rem;

}
.slideMask .navs li a{
    display: block;
    font-size: .22rem;
    text-align: center;
}
.slideMask .navsI{
    display: inline-block;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    margin-bottom: .1rem;
    background:no-repeat center;
    background-size: .5rem;
}
.slideMask .navsI:before{
    font-size: .45rem;
    line-height: .8rem;
    color: #fff;
}
.slideMask .icon1{
    background-color: #50c6f2;
}
.slideMask .icon2{
    background-color: #f6ba00;
}
.slideMask .icon3{
    background-color: #be91ff;
}
.slideMask .icon4{
    background-color: #ff91c5;
}
.slideMask .icon5{
    background-color: #74cd7d;
}
.slideMask .icon6{
    background-color: #e37ce2;
}
.slideMask .icon7{
    background-color: #5488f2;
}
.slideMask .icon8{
    background-color: #6c76ff;
}
.slideMask .icon9{
    background-color: #fe5653;
}
.slideMask .icon10{
    background-color: #e37ce2;
}
.slideMask .icon11{
    background-color: #6ca3ff;
}
.slideMask .icon12{
    background-color: #ff8e53;
}
.slideMask .icon13{
    background-color: #ff6c9c;
}
.slideMask .icon14{
    background-color: #f25472;
}
.slideMask .icon15{
    background-color: #6c76ff;
}



.banner{
    font-size: initial;
    /*height: 2.8rem;*/
}
.banner img{
    display: block;
    width: 100%;
}
.banner .swiper-pagination{
    text-align: right;
    padding-right: .5rem;
    bottom: 6px;
}
.swiper-pagination span{
    border-radius: 0;
    width: .4rem;
    height: 2px;
}
.swiper-pagination .swiper-pagination-bullet{
    background: #e6e6e6;
    opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet-active{
    background: #f8485e;
}


.project,.story,.videos,.newvideo{
    background: #fff;
    margin-top: .15rem;
    overflow: hidden;
    border-bottom: 0.15rem solid #f2f2f2;
}
.tabTit{
    font-size: .34rem;
    padding: .25rem;
}
.tabTit:before{
    content: '';
    display: inline-block;
    width: 2px;
    height: .34rem;
    background: #f7485e;
    margin-top: -2px;
    vertical-align: middle;
}
.projectsw,.storysw,.newvideosw{
    margin: 0 .25rem;
    background: #fff;
    padding-bottom: .6rem;
    overflow: initial;
}
.projectsw img,.storysw img{
    width: 100%;
}
.projectsw .projectpa{
    bottom: 15px;
}
.projectsw .projectpa span,.storysw .storypa span,.newvideosw .newvideopa span{
    height: 2px;
    width: 20px;
    border-radius: 0;
}
.projectpa .swiper-pagination-bullet,.storypa .swiper-pagination-bullet,.newvideopa .swiper-pagination-bullet{
    background: #e6e6e6;
    opacity: 1;
}
.projectpa .swiper-pagination-bullet-active,.storypa .swiper-pagination-bullet-active,.newvideopa .swiper-pagination-bullet-active{
    background: #f8485e;
}
.newvideosw iframe{width: 100%;height: 2.2rem;}


.teacher{
    margin-top: .15rem;
    background: #fff;
    border-bottom: 0.15rem solid #f2f2f2;
}
.teacherTab{
    font-size: 0;
    border-bottom: 1px solid #f2f2f2;
}
.teacherTab a{
    font-size: .34rem;
    display: inline-block;
    text-align: center;
    padding: .3rem;
    width: 50%;
    position: relative;
    color: #808080;
}
.teacherTab a.active{
    color: #000;
}
.teacherTab a.active:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #f8495f;
    left: 0;
    bottom: 0;
}
.teacherTab a i{
    color: #b3b3b3;
    font-size: .35rem;
    background: no-repeat center/.35rem;
    width: .4rem;
}
.teacherTab .ico1{background-image: url(../images/ico1.png);}
.teacherTab .ico2{background-image: url(../images/ico2.png);}
.teacherTab a:nth-of-type(2) i{
    font-size: .4rem;
}
.teachertab1,.teachertab2{
    background: #fefefe;
    padding: 0 .3rem;
}
.teachertab2{
    display: none;
}
.teachertab1sw{
    margin: .5rem 0;
}
.teachertab1sw a{
    text-align: center;
    padding: .44rem .1rem;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}
.teacher .teImg{
    display: block;
    margin:auto;
    width: 1.5rem;
    border-radius: 50px;
}
.teacher .teName{
    color: #f8485e;
    font-size: .3rem;
    margin: .3rem 0;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.teacher .teType{
    font-size: .22rem;
    color: #999999;
    display: -webkit-box;
    -webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}


.others{
    background: #fff;
    margin-top: .15rem;
    border-bottom: 0.15rem solid #f2f2f2;
}
.otherTab{
    font-size: 0;
    padding: .2rem 0;
}
.others img{
    width: 100%;
}
.otherTab a{
    font-size: .34rem;
    display: inline-block;
    width: 20%;
    text-align: center;
    border-right: 1px solid #cccccc;
    color: #ccc;
    line-height: .3rem;
}
.otherTab a.active{
    color: #f8485e;
}
.otherTab a:last-child{
    border: 0;
}
.othersw .swiper-slide{
    position: relative;
}
.othText{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.5);
    color: #fff;
    padding: .1rem 0 .23rem;
    text-align: center;
    font-size: .23rem;
}
.othersw .otherspa{
    bottom: 8px;
    font-size: 0;
}
.othersw .otherspa span{
    height: 2px;
    width: 20px;
    border-radius: 0;
}
.otherspa .swiper-pagination-bullet{
    background: #e6e6e6;
    opacity: 1;
}
.otherspa .swiper-pagination-bullet-active{
    background: #f8485e;
}
.otherssw1,.otherssw2,.otherssw3,.otherssw4{
    display: none;
}



.erma{
    display: none;
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 120;
    background: rgba(0,0,0,.5);
}
.ermaDiv{
    position: absolute;
    left: 0;
    top: 0;
    bottom:0;
    right: 0;
    width: 4rem;
    height: 4.5rem;
    margin: auto;
    background: #fff;
    text-align: center;
    padding: .3rem;
    border-radius: 10px;
    color: #f8485e;
    font-size: .26rem;
}
.ermaDiv img{
    width: 3rem;
}


.footer_text{font-size: .18rem;color:#999;text-align: center;padding:.2rem;}

.fixright{
    position: fixed;
    right: 0;
    bottom: 3rem;
    z-index: 100;
}
.fixright>i{
    display: block;
    padding: .09rem;
    background: rgba(0,0,0,.36);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color: #fff;
    font-size: .4rem;
    margin-bottom: .1rem;
}
.toTop{
    display: none;
}

.footer{
    height: 1rem;
}
.footer .footerDiv{
    height: 1rem;
    background: #fff;
    font-size: 0;
    position:fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 20px rgba(0,0,0,.4);
    z-index: 100;
}
.footer .footerDiv>a{
    padding-top: .1rem;
    display: inline-block;
    width: 33%;
    font-size: .2rem;
    color: #f8485e;
    text-align: center;
    height: 1rem;
}
.footer .footerDiv>a>i{
    font-size: .5rem;
}

.appDown{
    position: absolute;
    top: -1rem;
    width: 100%;
    background: #fff;
    height: 1rem;
    border-bottom: 2px solid #f2f2f2;
}
.foLO{
    display: inline-block;
    width: 1rem;
    padding: .2rem;
}
.appText{
    display: inline-block;
    font-size: .24rem;
    padding: .2rem 0;
}
.appTextP2{
    font-size: .2rem;
}
.downapp{
    float: right;
    font-size: .2rem;
    color:#fff;
    background: #f8485e;
    border-radius: .1rem;
    padding: .1rem .4rem;
    margin: .2rem .4rem .2rem 0;
}
.cos{
    position: absolute;
    right: .2rem;
    top: -.3rem;
    width: .4rem;
}
.cos img{
    width: 100%;
}

.kefu_btn{ cursor: pointer; }



/* 意向单弹窗 */
.gw-yxd{ padding-right: 40px; position: fixed; left:0; top:0;  width:100%; height: 100%;background: rgba(0,0,0,0.5); z-index: 999;display: none;}
.gw-yxd .yxd-in{ width:357px; /*height:570px;*/ padding-bottom: 35px; background: #fff; border-radius: 5px;  box-shadow: 0 0 10px #888; position: absolute; left:50%; top:50%; margin-left: -178px; margin-top: -285px; box-sizing:border-box; overflow: hidden; }
.gw-yxd .yxd-in.hid{ margin-left: 100px }
.gw-yxd .yxd-in .yxd-tt{ background: #ff5562; text-align: center; font-size: 16px; color:#fff; height: 36px; line-height: 36px;}
.gw-yxd .yxd-in .close{ position: absolute; right:10px; top:0; cursor: pointer;} 
.gw-yxd .yxd-in .yxd-info{width:280px;  color:#333; margin:0 auto; }
.gw-yxd .yxd-in .yxd-info p{  font-size: 12px; color:#808080;margin-top: 23px; margin-bottom: 11px;}
.gw-yxd .yxd-in .yxd-info .sex{ overflow: hidden; margin-bottom: 15px;}
.gw-yxd .yxd-in .yxd-info .sex span{ float:left;  font-size: 14px; color:#333;}
.gw-yxd .yxd-in .yxd-info .sex .gender{ float: right; }
.gw-yxd .yxd-in .yxd-info .sex .gender div{ display: inline-block; font-size: 14px; color:#999; cursor: pointer; }
.gw-yxd .yxd-in .yxd-info .sex .gender div:before{
  content: '';
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 13px;
    background: url(../images/weixuan.png) no-repeat;
    background-size: 100%;
    margin-left: 30px;
    margin-right: 5px;
    
}
.gw-yxd .yxd-in .yxd-info .sex .gender div.active:before{

  background: url(../images/xuanzhong.png) no-repeat;
  background-size: 100%;
}
.gw-yxd .yxd-in .yxd-info form>label{ width: 100%;  }
.gw-yxd .yxd-in .yxd-info .time p{ text-align: left; font-size: 14px; }
.gw-yxd .yxd-in .yxd-info .text{ display: block;width:285px; height: 36px; border:1px solid #dcdcdc;  background: #eeeeee; padding-left: 10px; outline: none; margin-bottom: 15px; margin:0 auto; margin-bottom: 20px; box-sizing:border-box;}
.gw-yxd .yxd-in .yxd-info  .time-scroll{ width: 98%; border:1px solid  #d2d2d2; height:110px; overflow-y:scroll; margin-top: 15px; margin-bottom: 15px; padding-bottom: 10px; text-align: left}
.gw-yxd .yxd-in .yxd-info .time .time-scroll label{ display: inline-block; margin:13px 5px 0 10px; text-align: left; font-size: 14px;}
.gw-yxd .yxd-in .yxd-info .btn-submit{ width:285px; height: 38px; background: #ff5562; color:#fff; text-align: center; border-radius: 5px; outline: none; cursor: pointer; line-height: 38px; margin:0 auto;}

.submit-tc{ width:300px; height:160px; background: #fff; border-radius: 5px; box-shadow: 0 0 10px #888; position: fixed; left:50%; top:50%; margin-left: -150px; margin-top: -80px;  z-index: 1000; display: none;}
.submit-tc p{ text-align: center; padding-top: 50px; font-size: 15px; }
.submit-tc span{ width:60px; height:30px; display: block; line-height: 30px; background: #ff5562; color:#fff; border-radius: 5px; text-align: center; position: absolute; right:20px; bottom: 10px; cursor: pointer; }
.gw-yxd .yxd-in .yzm{ overflow: hidden;  width: 285px; margin:0 auto;}
.gw-yxd .yxd-in .yzm input{ float:left; width:169px; height: 36px; border:1px solid #dcdcdc;  background: #eeeeee; padding-left: 10px; outline: none; margin-bottom: 15px; box-sizing:border-box; }
.gw-yxd .yxd-in .yzm span{ float:left;margin-left: 10px;  height: 38px;  border:1px solid #dddddd; box-sizing:border-box; width: 105px;}
.gw-yxd .yxd-in .yzm span img{ display: block; width: 100%; }
.gw-yxd .yxd-in .yzm span.code-btn{ width:105px; background: #ff5562; color:#fff; font-size: 14px; line-height: 38px; text-align: center; cursor: pointer;}

.gw-yxd .yxd-in .yxd-info .time{ width: 285px; margin:0 auto; }

.mon-select .mon-text{ width:285px; height: 36px; border:1px solid #dcdcdc;  background: #eeeeee url(../images/icon4.png) no-repeat 98% center; outline: none; padding-left: 10px; box-sizing:border-box; cursor: pointer; line-height: 36px; font-size: 14px;margin-bottom: 16px;}
.mon-select{ position: relative; }
.mon-select ul{ background: #fff; position: absolute; width:284px; top:36px; left:0;   height: 114px; overflow-y:scroll; box-shadow: 0 0 10px #ccc; z-index: 999;}
.mon-select ul li{ height: 32px; line-height: 32px;  font-size: 14px; padding-left: 10px; box-sizing: border-box;}
.mon-select ul li:hover{ background: #f0f0f0; }

.select_h{width: 285px; height: 36px; border: 1px solid #dcdcdc; background: #eeeeee;    outline: none; padding-left: 10px; box-sizing: border-box; cursor: pointer; line-height: 36px; font-size: 14px; margin-bottom: 16px;}



.index2{overflow: hidden;}
.index2 .tap2_tit{
    text-align: center;
    font-size: .1rem;
    margin-top: .3rem;
}
.index2 .tap2_tit p{
    position: relative;
    display: inline-block;
    font-size: .32rem;
    padding: 0 .3rem;
}
.index2 .tap2_tit p:before,.index2 .tap2_tit p:after{
    content: '';
    position: absolute;
    width: .1rem;
    height: .1rem;
    background: #dedede;
    top: .3rem;
}
.index2 .tap_qgtit p:before,.index2 .tap_qgtit p:after{
    top: .15rem;
}
.index2 .tap2_tit p:before{
    left: -.3rem;
}
.index2 .tap2_tit p:after{
    right: -.3rem;
}
.index2 .tap2_tit p i{
    position: absolute;
    width: .1rem;
    height: 0.1rem;
}
.index2 .tap2_tit p i:nth-of-type(1){
    border-top: 2px solid #f55775;
    border-left: 2px solid #f55775;
    top: 0;
    left:0;
}
.index2 .tap2_tit p i:nth-of-type(2){
    border-top: 2px solid #f55775;
    border-right: 2px solid #f55775;
    top: 0;
    right:0;
}
.index2 .tap2_tit p i:nth-of-type(3){
    border-bottom: 2px solid #f55775;
    border-right: 2px solid #f55775;
    bottom: 0;
    right:0;
}
.index2 .tap2_tit p i:nth-of-type(4){
    border-bottom: 2px solid #f55775;
    border-left: 2px solid #f55775;
    bottom: 0;
    left:0;
}
.index2 .tap2_tit p span{display: block;}
.minTit{
    font-size: .18rem;
    color: #d2d2d2;
}

.index2 .repair-item1{padding:.2rem;}
.index2 .repair-item2{    padding: .3rem .24rem;}
.index2 .repair-item2 .repair-item2D{
    width: 48.5%;
    margin-right: 3%;
    text-align: center;
    float: left;
    border:1px solid #5b9bd5;
    margin-bottom: .1rem;
    padding:.2rem 0;
    min-height: 2.45rem;
    position: relative;
}
.index2 .repair-item2 .repair-item2D:nth-of-type(2n){
    margin-right: 0;
}

.index2 .repair-item2 .repair-item2D p span{
    padding: 6px 12px;
    display: inline-block;
    color: #fff;
    background: #ff5562;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: .26rem;
    color: #fff;
    background: #5b9bd5;
}

.index2 .repair-item2 .repair-item2D p{
    font-size: .22rem;
    line-height: .35rem;
    color: #999;
    margin-top: .1rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.index2 .repair-item2 .repair-item2D:nth-of-type(2) .repair-item2s2{
    background: #ed7d31
}
.index2 .repair-item2 .repair-item2D:nth-of-type(3) .repair-item2s3{
    background: #8d8d8d
}
.index2 .repair-item2 .repair-item2D:nth-of-type(4) .repair-item2s4{
    background: #ffc000
}
.index2 .repair-item2 .repair-item2D:nth-of-type(2){
    border-color: #ed7d31
}
.index2 .repair-item2 .repair-item2D:nth-of-type(3){
    border-color: #8d8d8d
}
.index2 .repair-item2 .repair-item2D:nth-of-type(4){
    border-color: #ffc000
}
.index2 .repair-item2 .repair-item2D:before{
    content: "";
    position: absolute;
    right: -.16rem;
    bottom: -0.16rem;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #5b9bd5;
    border-style: solid;
    border-width: .15rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

.index2 .repair-item2 .repair-item2D:nth-of-type(2):before{
    border-color: transparent transparent transparent #ed7d31;
}
.index2 .repair-item2 .repair-item2D:nth-of-type(3):before{
    border-color: transparent transparent transparent #8d8d8d;
}
.index2 .repair-item2 .repair-item2D:nth-of-type(4):before{
    border-color: transparent transparent transparent #ffc000;
}


.index2 .repair-item3 .repair-item3Con{
    padding:.3rem 0;
}
.index2 .repair-item3 .repair-item3Con li{
    width: 50%;
    float: left;
    border-top: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    padding:.1rem 0;
    min-height: 1.6rem;
    padding-left: .95rem;
    position: relative;
}
.index2 .repair-item3 .repair-item3Con li:nth-of-type(odd){
    border-left: 0;
}
.index2 .repair-item3 .repair-item3Con li:nth-of-type(7),.index2 .repair-item3 .repair-item3Con li:nth-of-type(8){
    border-bottom: 1px solid #dbdbdb;
}
.index2 .repair-item3 .qgkh_right{
    overflow: hidden;
}
.index2 .repair-item3 .repair-item3Con li .repair-item3-1 .img2{display: none;}
.index2 .repair-item3 .repair-item3Con li .repair-item3-1 {
    width: .95rem;
    text-align: center;
    padding-top: .1rem;
    position: absolute;left: 0;top: .1rem;
}
.index2 .repair-item3 .repair-item3Con li .repair-item3-1 img{
    width: .55rem;
}
.index2 .repair-item3 .repair-item3ConTit{
    font-size: .26rem;
    overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
}
.index2 .repair-item3 .repair-item3ConP{
    font-size: .2rem;
    color: #999;
    width: 1.8rem;
    margin-top: .05rem;
    display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}

.index2 .repair-item4 .repair-item4T{
    font-size: .22rem;
    color: #4c4c4c;
    position: relative;
    padding:.3rem .54rem;
}
.index2 .repair-item4 .repair-item4T .jh_left ,.index2 .repair-item4 .repair-item4T .jh_right{
    position: absolute;
    width: .2rem;
    left: .2rem;
    top: .2rem;
}
.index2 .repair-item4 .repair-item4T .jh_right{
    left: auto;
    right: .2rem;
    bottom: .2rem;
    top: auto;
}

.index2 .hz-btn {
    padding: 6px 12px;
    display: inline-block;
    color: #fff;
    background: #f8485e;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.index2 .fh_btn {
    width: 6rem;
    margin:.1rem auto;
    display: block;
    background: #f8485e;
    font-size: .28rem;
    padding: 6px 16px;
}
.index2 .trapMan-harvest{    padding: .3rem .24rem;}
.index2 .trapMan-harvest .trapMan-harvestR{margin: .2rem 0;
    border: 1px solid #ff4a60;
    background: url(../images/ico5.png) no-repeat center center /100%;
    height: 4rem;
    padding:.3rem 0 .5rem 0;
    overflow: hidden;
    position: relative;
}

.index2 .trapMan-harvest .trapMan-harvestR .item{
    float: left;
    width: 50%;
    /*margin-left: .2rem; */
    padding:0 .1rem;
}
.index2 .trapMan-harvest .trapMan-harvestR .item .info{
    text-align: center;
    border:1px solid #ff7fb4;
    background: rgba(255, 255, 255, 0.8);
    padding: .25rem .1rem 0;
    min-height: 3rem;
}
/*.trapMan-harvest .trapMan-harvestR .item:nth-of-type(2){
    margin-right: 0;
}*/
.index2 .trapMan-harvest .trapMan-harvestR .item img{
    width: 1.05rem;
}
.index2 .trapMan-harvest .trapMan-harvestR .item div{
    color: #ff4b62;
    font-size: .26rem;
}
.index2 .trapMan-harvest .trapMan-harvestR .item p{
    color: #4c4c4c;
    font-size: .24rem;
    margin-top: .05rem;
}




.index2 .trapMan-two{padding: .3rem .24rem;overflow: hidden;}
.index2 .trapMan-two .swiper-wrapper{padding: .2rem 0;}
.index2 .trapMan-two .trapMan-twoItem{    box-shadow: 0 1px 10px 2px rgba(171, 171, 171, 0.15);
    border-radius: 11px;
    overflow: hidden;}
.index2 .trapMan-two .trapMan-twoItem img{
    width: 100%;
    display: block;
}
.index2 .trapMan-two .trapMan-twoItem{
    background: #fff;
}
.index2 .trapMan-two .trapMan-twoItem.swiper-slide .bx{
    opacity: .5;
}
.index2 .trapMan-two .trapMan-twoItem.swiper-slide-active .bx{
    opacity: 1;
}
.index2 .trapMan-two .trapMan-twoItem .trapMan-twoB1{
    font-size: .26rem;
    color: #fff;
    background: #ff5562;
    text-align: center;
    padding: .1rem 0;
}
.index2 .trapMan-two .trapMan-twoItem .trapMan-twoB2{    padding-left: 1.1rem;margin-top: .05rem;}
.index2 .trapMan-two .trapMan-twoItem .trapMan-twoB2 li{font-size: .26rem; margin-top: .15rem; position: relative;}
.index2 .trapMan-two .trapMan-twoItem .trapMan-twoB2 li:before {
    position: absolute;
    display: block;
    width: 3px;
    height: 3px;
    content: "";
    background: #999;
    bottom: 0;
    top: 0;
    margin: auto 0;
    left: -.15rem;
}

.index2 .trapMan-two .trapMan-twoItem .kefu_btn {
        padding: 6px 12px;
    display: inline-block;
    color: #fff;
    background: #ff5562;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 2rem;
    font-size: .28rem;
    margin: .2rem auto;
    display: block;
}



.index2 .trapMan-lunbo{padding: .3rem .24rem;overflow: hidden;position:relative;}
.index2 .trapMan-lunbo .ys_swiper{overflow: hidden;}
.index2 .trapMan-lunbo img{width: 100%;}
.index2 .trapMan-lunbo .ys_top{
    width: 100%;
    display: block;
    margin-bottom: .2rem;
}
.index2 .trapMan-lunbo .ys_text{
    overflow: hidden;
    font-size: .24rem;
    color: #4c4c4c;
}
.index2 .trapMan-lunbo .ys_con .hz-fl{
    width: 2rem;
    text-align: center;
    margin-right: .2rem;
    padding-top: .1rem;
}
.index2 .trapMan-lunbo .ys_con .hz-fl .ys_icon{
    width: .9rem;
    height: .9rem;
    display: block;
    margin: auto;
    background: url(../images/ico6.png) no-repeat  center center;
    background-size: cover;
    color: #fff;
    font-weight: 600;
    padding-top: .03rem;
    font-size: .26rem;
}
.index2 .trapMan-lunbo .ys_con .hz-fl p{
    font-size: .26rem;
    color: #ff5562;
    margin-top: .1rem;
}
.index2 .trapMan-lunbo .ys_con .hz-fl .ys_des{
    font-size: .22rem;
    color: #ff5562;
    border:1px solid  #ff5562;
    margin-top: .1rem;
}


.index2 .zsds_btn{
    font-size: .24rem;
    text-align: center;
    margin: .28rem 0;
}
.index2 .zsds_btn>li{
    display: inline-block;
    border-radius: 50px;
    box-shadow: 3px 3px .2rem rgba(203,57,57,.16);
}
.index2 .zsds_btn .divbox{
    border-radius: 50px;
    box-shadow: none;
}
.index2 .zsds_btn p{
    display: block;
    padding: .1rem .3rem;
    border: 1px solid #ccc;
    border-radius: 40px;
}
.index2 .zsds_btn i{
    display: inline-block;
    width: .5rem;
    height: .5rem;
    background:  no-repeat center / 90%;
    border-radius: 50%;
    border:1px solid #ccc;
    background-color: #fff;
    vertical-align: middle;
    margin-right: .1rem;
}

.index2 .zsds_btn li:nth-of-type(1) p{
    box-shadow: 0 0 0.5rem rgba(253,73,87,.9) inset;
    border: 1px solid rgba(255,85,98,.5);
    background-color: rgba(255,85,98,.5);
    color: #fff;
}
.index2 .zsds_btn li:nth-of-type(2) p{
    box-shadow: 0 0 0.5rem rgba(228,89,193,.9) inset;
    border: 1px solid rgba(240,149,217,.5);
    background-color: rgba(240,149,217,.5);
    color: #fff;
}
.index2 .zsds_btn li:nth-of-type(3) p{
    box-shadow: 0 0 0.5rem rgba(19,151,224,.65) inset;
    border: 1px solid rgba(38,172,247,.5);
    background-color: rgba(38,172,247,.5);
    color: #fff;
}
.index2 .zsds_btn li p.zsds_btn_sel{
    box-shadow: none;
    background: #fff;
    color: #333;
    border: 1px solid #ccc;
}


.index2 .zsds_com{
    padding: .2rem 0.24rem .3rem;
}
.index2 .zsds_img{
    float: left;
    margin-right: .2rem;
    width: 2.5rem;
}
.index2 .zsds_div{
    overflow: hidden;
}
.index2 .zsName{
    font-size: .3rem;
}
.index2 .zsName img{
    width: .3rem;
    vertical-align: middle;
}
.index2 .zsRy{
    font-size: .24rem;
    margin: .1rem 0;
}
.index2 .ry{
    font-size:0;
    margin: .15rem 0;
}
.index2 .ry span{
    color:#fff;
    font-size: .28rem;
    display: inline-block;
    padding: .05rem .1rem;
    border-radius: 5px;
    background: #eb4e89;
}
.index2 .zsUl{
    font-size: .24rem;
    color: #999999;
}
.index2 .sc{
    font-size: .24rem;
    color: #666;
    margin-top: .1rem;
}
.index2 .sc span{
    color: #333;
    font-size: .28rem;
}
.index2 .wawa,.xr{
    display: none;
}
.index2 .show{
    display: block;
}
/*.index2 .zsds_btn li p.zsds_btn_sel i{
    background-color: #c7c7c7;
}*/


.index2 .trapMan-class{padding:.2rem 0;}
.index2 .trapMan-class li{ padding: .24rem;
    border-bottom: 1px solid #f0f0f0;padding-right:2.05rem;}

.index2 .trapMan-class li .art_img{
    width: 1.7rem;
    margin-left: .1rem;
    height: 1.2rem;
    overflow: hidden;
    float: right;
    margin-right: -1.8rem;
}
.index2 .trapMan-class li .trapMan-classD{font-size: .24rem;color: #999;}
.index2 .trapMan-class li .trapMan-classD h4{color: #333; overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;}
.index2 .trapMan-class li .trapMan-classD p{display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;line-height: 1.4;margin-top: .05rem;}



.whaq-item1{padding:.3rem .24rem;}
.whaq-item1 .whaq-item1Con{position: relative;overflow: hidden;}
.whaq-item1 .whaq-item1Con ul{
    position: relative;
}
.whaq-item1 .whaq-item1Con ul li{
    /*width: 5rem;*/
    padding:.2rem;
    color: #fff;
    border-radius: .1rem;
    height:4.6rem;
    line-height: 1.7;
}
.whaq-item1 .whaq-item1Con ul li.list1{
    background: url("../images/tp_03.jpg") no-repeat;
    background-size:cover;
}
.whaq-item1 .whaq-item1Con ul li.list2{
    background: url("../images/tp_02.jpg") no-repeat;
    background-size:cover;
}
.whaq-item1 .whaq-item1Con ul li.list3{
    background: url("../images/tp_01.jpg") no-repeat;
    background-size:cover;
}
.whaq-item1 .whaq-item1Con ul li img{
    width: 1.4rem;display: block;margin:0 auto;
}
.whaq-item1 .whaq-item1Con ul li .whaq-item1ConP1{
    font-size: .32rem;
    text-align: center;
    margin:.05rem 0;
    overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
    /*margin-bottom: 36px;*/
}
.whaq-item1 .whaq-item1Con ul li .whaq-item1ConP2{
    font-size: .24rem;
    padding:.1rem;
    display: -webkit-box;
-webkit-line-clamp: 5;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}
.whaq-tit2 .whaq-tit2P1{
    font-size: .24rem;
    color: #999;
    text-align: center;
    margin-top: .2rem;
    padding: .1rem 0;
    position: relative;
}
.whaq-tit2 .wh_tleft,.whaq-tit2 .wh_tright{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: .65rem;
}
.whaq-tit2 .wh_tright{
    left: auto;
    right: 0;
}
.whaq-tit2 .kefu_btn {
    padding: 6px 12px;
    display: inline-block;
    color: #fff;
    background: #ff5562;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width:6rem;
    font-size: .28rem;
    margin: .2rem auto;
    display: block;
}


.index2 .whaq-item2 .img_box{padding: .2rem 0;}
.love3-content .con_in h2{color:#ff6271;font-size: .3rem;text-align: center;}
.love3-content .con_in h4{color: #ff4e5e;text-align: center;padding-top: .2rem;line-height: 1.9;font-size: .2rem;}
.love3-content .con_in .cm{color: #99; font-size:.24rem; line-height: 1.7; letter-spacing: 1px;padding:.2rem;}

.love3-content .con1{padding:.3rem .2rem;}
.love3-content .con1 ul{text-align: center;}
.love3-content .con1 ul li{vertical-align: top;width: :;vertical-align: top;width: 29%;margin:0 2%;}
.love3-content .con1 ul li p{border: 1px solid #000; font-weight: bold; font-size: .3rem; text-align: center; line-height: .4rem; margin-top: .1rem;overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;}
.love3-content .con1 ul li span{display: block; width:100%; text-align: center; line-height: .3rem;overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;}
.love3-content .con2{padding:.3rem .24rem;}

.love3-content .con2 .con_in .tt span{width: 50%;background-color: #fee8eb;float:left;text-align: center;line-height: .5rem;}
.love3-content .con2 .con_in .tt span.cur{background-color: #f8485e;color: #fff;}
.love3-content .con2 .con_in .list{display: none;}
.love3-content .con2 .con_in .list.on{display: block;}
.love3-content .con2 .con_in .list ul{padding:0 !important;}

.love3-content .con3{ width:100%;padding:.3rem .2rem;}
.love3-content .con3 ul{ padding-top: .3rem; text-align: center;}
.love3-content .con3 ul li{ display: inline-block; position: relative;}
.love3-content .con3 ul li .txt{ width:100%; height: 100%; background-color:rgba(255,85,98,.6); padding: 8px; position: absolute; left: 0; top:0;}
.love3-content .con3 ul li img{width: 100%;}
.love3-content .con3 ul li p span{ display: block; position: relative; padding-left: 20px; color:#fff;  padding-top:8px; width:130px; margin: 0 auto; text-align: left;}
.love3-content .con3 ul li p{ width:100%; height: 100%; border:1px solid #ff9da5; padding-top: 8px; box-sizing: border-box;overflow: hidden;}
.love3-content .con3 ul li p span::before{ content: ''; width:2px; height: 2px; background: #fff; position: absolute; left:5px; top:17px;}

.love3-content .con4{ width:100%;padding:.3rem .2rem;}
.love3-content .con4 li{position: relative;text-align: center;background: no-repeat center;background-size: cover;color:#fff;line-height: 1.8;}
.love3-content .con4 li .tc{background-color: rgba(153,153,153,0.6);padding:.3rem;}
.love3-content .con4 li .ellipsis{font-size: .36rem;}
.love3-content .con4 li .ellipsis3{font-size: .24rem;} 
.love3-content .con4 .kefu_btn {
    padding: 6px 12px;
    display: inline-block;
    color: #fff;
    background: #ff5562;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 6rem;
    font-size: .28rem;
    margin: .2rem auto;
    display: block;
}
.love3-content .con5 .part-3{background: url(../images/ico9.jpg) no-repeat center;  background-size: cover;padding:.3rem .2rem;}
.love3-content .con5 .part-2{padding:.3rem .2rem;}

.love3-content .con5 .part-2 .live-list .time {
    float: left;
    width: 20%;
}
.love3-content .con5 .part-2 .live-list .time .span-1 {
    display: inline-block;
    width: 80%;
    color: #fe6d7a;
    font-weight: 600;
    font-size:.24rem;
    background: url("../images/ico10.jpg") no-repeat 100% 96%;
    margin-left: 7%;
    z-index: 99;
    position: relative;
    padding-top: 75%;
    text-align: left;
    padding-right: 25%;
    background-size: 23%;
}
.love3-content .con5 .part-2 .live-list .news {
    float: left;
    width: 76%;
    border-left: 1px dashed #999;
    padding-left: 3%;
}

.love3-content .con5 .part-2 .live-list .news .li {

    float: left;
    width: 5%;
    height: 20px;
}

.love3-content .con5 .part-2 .live-list .news .con {
    background: #ffffff;
    float: left;
    width: 95%;
    padding: 2%;
}

.love3-content .con5 .part-2 .live-list .news .con .img img {
    width: 100%;
}

.love3-content .con5 .part-2 .live-list .news .con .txt {
    font-size: 1.4rem;
    color: #000000;
    font-weight: 400;
    text-align: left;
    line-height: 2.0rem;
}

.love3-content .con5 .kefu_btn {
    padding: 6px 12px;
    display: inline-block;
    color: #fff;
    background: #ff5562;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 6rem;
    font-size: .28rem;
    margin: .2rem auto;
    display: block;
}

.love3-content .con6{padding:.3rem .24rem;position: relative;    background: #fbf6fb;}
.love3-content .con6 .dz{padding: .2rem 0 .4rem;position: relative;}
.love3-content .con6 .dz .dz-list .dz-img {
    width: 50%;
    float: left;
}

.love3-content .con6 .dz .dz-list .dz-txt {
    width: 50%;
    float: right;
}

.love3-content .con6 .dz .dz-list .dz-txt .dz-title {
    text-align: left;
    padding-left: 6%;
}

.love3-content .con6 .dz .dz-list .dz-txt .name {
    font-size: .3rem;
    font-weight: bold;
    color: #ff6d7a;
    text-align: left;
}

.love3-content .con6 .dz .dz-list .dz-txt .name2 {
    font-size: .24rem;
    margin-left: 5%;
}

.love3-content .con6 .dz .dz-list .dz-txt .info {
    color: #333;
    font-size: .18rem;
    line-height: 1.7;
    padding-top: 5%;
    text-align: left;
    padding-left: 6%;

}

.love3-content .con6 .dz .dz-list .hr {
    width: .2rem;
    border-top: 3px solid #ff6d7a;
    margin: 5% 0 6% 6%;

}
.love3-content .con6 .kefu_btn {
    padding: 6px 12px;
    display: inline-block;
    color: #fff;
    background: #ff5562;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 6rem;
    font-size: .28rem;
    margin: .2rem auto;
    display: block;
}


.love3-content .con7{padding:.3rem .24rem;}
.love3-content .con7 .cm li{width: 100%!important;;margin:0 !important;padding:.2rem!important;text-align: center;display: block;}
.love3-content .con7 .cm li p{margin:0 !important;width: 100%!important;;}
.love3-content .con7 .love-btn{padding: 6px 12px;
    display: inline-block;
    color: #fff;
    background: #ff5562;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 6rem;
    font-size: .28rem;
    margin: .2rem auto;
    display: block;
}
.love3-content .con10{ width:100%; background: url(../images/bj4.png) no-repeat center/cover; padding: .3rem .24rem;}
.love3-content .con10 ul{ overflow: hidden; }
.love3-content .con10 ul li{ float:left;width: 50%;margin-top: .2rem;}
.love3-content .con10 ul li img{ margin: 0 auto;display: block; width: 1.6rem;}
.love3-content .con10 ul li b{ width:40%; text-align: center; display: block;  margin: 0 auto;  color:#ff5562; font-size: .3rem; padding-bottom: .05rem; border-bottom: 2px solid #ff5562; padding-top: .1rem;}
.love3-content .con10 ul li p{ font-size: .24rem; line-height: 1.8; width: 100%; text-align: center; margin-top: .05rem;}


.index2 .confusion_con01 ul{ overflow: hidden;padding-top: .2rem;}
.index2 .confusion_con01 ul li{ float: left;width:48%;margin-left: 1%;}

.index2 .padd_all{padding:.3rem .24rem;position: relative;overflow: hidden;}
.index2 .qg_swi{padding-bottom: .3rem;overflow: hidden;}
.index2 .qg_list li a{color: #fff;}
.index2 .qg_list li{
    float: left;
    width: 49.5%;
    margin-right: 1%;
    text-align: center;
    font-size: .2rem;
    color: #fff;
    background: #ff5562;
    border-radius: 3px;
    padding: .15rem 0;
    margin-bottom: .15rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.index2 .qg_list li:nth-of-type(2n){
    margin-right: 0;
    background: #ff61a3
}
.index2 .qg_list li:nth-of-type(3){
    background: #01b7ee
}
.index2 .qg_list li:nth-of-type(4){
    background: #89c997
}
.index2 .qg_list li:nth-of-type(5){
    background: #dfb200
}
.index2 .qg_list li:nth-of-type(6){
    background: #B7DFE9
}
.swiper-container-horizontal>.swiper-pagination-bullets.pagination2{position: absolute;bottom: 0;width: 100%;}
.pagination2 .swiper-pagination-bullet{height: .2rem;border-radius: .2rem;width: .2rem;margin:0 .1rem;}


.index2 .fh_swi  .swiper-slide img{
    width: 100%;
    display: block;
}
.index2 .fh_swi{
    padding:.3rem 0
}
.index2 .fh_swi  .swiper-slide{
    box-shadow: 0 0 18px 3px rgba(255,109,169,.15);
    border-radius: 3px;
    background: #fff;
}
.index2 .fh_swi .fh_pone ,.index2 .fh_swi .fh_ptwo{
    width: 90%;
    margin: .25rem auto .15rem;
    color: #ff545d;
    font-size: .26rem;
    text-align: center;
}
.index2 .fh_swi .fh_ptwo{
    color: #ff3388;
    margin: .85rem auto .55rem;
}
.index2 .fh_swicon .fh_href {
    padding-bottom: .3rem;
    text-align: center;
}
.index2 .fh_swicon .fh_href a{
    background: #ff6da9;
    border-radius: 30px;
    font-size: .22rem;
    box-shadow: 0px 1px 2px 1px rgba(100,4,44,.2);
}
.index2 .trapMan-exponent{padding: .3rem .24rem;}


.news .story-article-list{color: #323232; display: -webkit-box; display: -webkit-flex; display: flex; padding: 0.3rem 0.24rem; background: white; margin-bottom: 0.05rem; border-bottom: 1px solid #ccc;}
.news .story-article-list .story-article-bg {
    width:1.8rem;
    display: inline-block;
    /* -webkit-box-flex: 1; */
    /* -moz-box-flex: 1; */
    /* -ms-flex: 1; */
    /* flex: 1; */
    overflow: hidden;
}
.news .story-article-list .story-article-bg img{width: 100%;}
.news .story-article-list .story-article-info{
    padding-left: 0.1rem;
    width: 80%;
}
.news .story-article-list .story-article-info .story-article-title {
    font-size: 0.28rem;
    color: #323232;
    line-height:1.8;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: .1rem;
}

.news .story-article-list .story-article-info .story-article-text {
    font-size: 0.24rem;
    color: #999999;
    line-height:1.6;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.page{
    margin-top: .2rem;
    text-align: center;
    font-size: .2rem;
}
.page li{
    cursor: pointer;
    display: inline-block;
    margin: 0 .05rem;
    width: .3rem;
    height: .3rem;
    line-height: .3rem;
    border-radius: .3rem;
    vertical-align: middle;
}
.page li a{display: block;width:.3rem;height:.3rem;}
.page .active{
    color:#fff;
    background: #ff5562;
}
.page li.prevs,.page li.nexts,.page li:hover.prevs,.page li:hover.nexts{border:0;}
.page .prevs,.page .nexts{
    width:.3rem;
    height:.3rem;
    background: url(../images/ico11.png) no-repeat left top/.6rem;
}
.page .nexts{
    background-position: right top;
}










